In [1]:
# Module Importations
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Constants
plt.style.use("seaborn-whitegrid")
plt.rc("figure", autolayout = True)
plt.rc(
    "axes",
    labelweight = "bold",
    labelsize = "large",
    titleweight = "bold",
    titlesize = 14,
    titlepad = 10,
)

In [3]:
# Load Datasets
accidents = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\US_Accidents_Dec20.csv')
autos = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\Automobile_data.csv')
concrete = pd.read_excel(r'C:\Developer\scratch-pad-python\Datasets\Concrete_Data.xls')
customer = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\Customer-Value-Analysis.csv')

In [4]:
autos.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [5]:
# Mathematical Transforms - Relationships in mathematical forms
def return_stroke_ratio(stroke, bore):
    try:
        stroke = float(stroke)
        bore = float(bore)
        stroke_ratio = stroke / bore

    except:
        stroke_ratio = 0

    return stroke_ratio 

autos['stroke_ratio'] = autos.apply(lambda row: return_stroke_ratio(row['stroke'], row['bore']), axis = 1) # Research identifies stroke ratio as useful parameter

autos[['stroke', 'bore', 'stroke_ratio']].head()

  stroke  bore  stroke_ratio
0   2.68  3.47      0.772334
1   2.68  3.47      0.772334
2   3.47  2.68      1.294776
3    3.4  3.19      1.065831
4    3.4  3.19      1.065831