In [1]:
# Module Importations
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Constants
plt.style.use("seaborn-whitegrid")
plt.rc("figure", autolayout = True)
plt.rc(
    "axes",
    labelweight = "bold",
    labelsize = "large",
    titleweight = "bold",
    titlesize = 14,
    titlepad = 10,
)

In [3]:
# Load Datasets
accidents = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\US_Accidents_Dec20.csv')
autos = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\Automobile_data.csv')
concrete = pd.read_excel(r'C:\Developer\scratch-pad-python\Datasets\Concrete_Data.xls')
customer = pd.read_csv(r'C:\Developer\scratch-pad-python\Datasets\Customer-Value-Analysis.csv')

In [6]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
 26  stroke_ratio       205 non-null    float64
dtypes: float64(6), int64(5), object(16)
memory usage: 43.4+ KB

In [5]:
# Mathematical Transforms - Relationships in mathematical forms

# Deriving stroke ratio
def return_stroke_ratio(stroke, bore):
    try:
        # Convert data type
        stroke = float(stroke)
        bore = float(bore)

        # Calculate stroke ratio 
        stroke_ratio = stroke / bore

    # Handle conversions that fail gracefully
    except:
        stroke_ratio = 0

    return stroke_ratio 

autos['stroke_ratio'] = autos.apply(lambda row: return_stroke_ratio(row['stroke'], row['bore']), axis = 1) # Research identifies stroke ratio as useful parameter

autos[['stroke', 'bore', 'stroke_ratio']].head()

  stroke  bore  stroke_ratio
0   2.68  3.47      0.772334
1   2.68  3.47      0.772334
2   3.47  2.68      1.294776
3    3.4  3.19      1.065831
4    3.4  3.19      1.065831

In [9]:
# Mathematical Transforms - Relationships in mathematical forms

# Deriving displacement
def return_displacement(stroke, bore, num_of_cylinders):
    try:
        # Convert data types
        stroke = float(stroke)
        bore = float(bore)
        num_of_cylinders = float(num_of_cylinders)

        # Calculate displacement
        displacement = np.pi * ((0.5 * bore) ** 2) * stroke * num_of_cylinders

    # Handle conversions that fail
    except:
        displacement = 0

    return displacement

autos['displacement'] = autos.apply(lambda row: return_displacement(row['stroke'], row['bore'], row['num-of-cylinders']), axis = 1) # Displacement can also be a useful parameter

autos[['stroke', 'bore', 'num-of-cylinders', 'displacement']].head()

  stroke  bore num-of-cylinders  displacement
0   2.68  3.47             four             0
1   2.68  3.47             four             0
2   3.47  2.68              six             0
3    3.4  3.19             four             0
4    3.4  3.19             five             0